# Opcion 1: cadena completa
# DB_URL=mysql+pymysql://usuario:password@host:3306/conecciones_energia

# Opcion 2: variables separadas
DB_HOST=localhost
DB_PORT=3306
DB_USER=tu_usuario
DB_PASSWORD=tu_password
DB_NAME=conecciones_energia
